{% extends 'base.html.twig' %}

{% block title %}Eshop Věcí{% endblock %}

{% block body %}
    <div class="product-list">
        {% for product in products %}
            <a href="{{ path('product_page', {'productId': product.id}) }}" class="product">
                <div>
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.price }} Kč</p>
                    <p class="description">{{ product.description }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}